/*all items*/
* {
  margin: 0;
}
a{
  text-decoration: none;
}

body{
    width: 100%;
}



/*headers*/

header {
  height: 70vh;
  background-image: url('http://fractalfoundation.org/OFCA/dragon.jpg')
}

h2 {
  color: #fff500;
  font-size: 22px;
  font-family: 'Poiret One', cursive;
padding-left: 20px;
padding-top: 20px
}

h1 {
  color: #4e4e4e;
  font-size: 18px;
  font-family: 'Poiret One', cursive;
text-align: center;
padding-top: 550px;
}

/*images*/
img {
width: 500px;
display: inline;
}
/*comment*/

.kitaj-pic{
  width:800px;
  padding-left: 250px;
  padding-top: 50px

}


.wall {
  width:800px;
  padding-left: 250px;
  padding-top: 50px

}

.hockney {
  width:800px;
  padding-left: 250px;
  padding-top: 50px

}

.neo {
  width:1200px;
  padding-left: 250px;
  padding-top: 50px

}
p{
  font-family: 'Poiret One', cursive;
  font-style: italic;
  font-size: 50
  background-color: #642ec9;
}


/*nav bar*/
ul li
{
  display: inline;
  padding: 5px;
  text-decoration: none;

}

nav {
 display: flex;
 align-items: center;
 justify-content: space-between;
 width: 100%;
   font-family: 'Poiret One', cursive;
   color: #fff500;

 }



 ul {
 padding-right: 4em;
}

nav ul li {
  display: inline;
  padding: 5px;
  text-decoration: none;

}

 nav ul li:hover {
 color: #0cb622;
}

@media (max-width:700px ) {

  .kitaj-pic{
    width:800px;
    padding-left: 200px;
    padding-top: 200px
  }


  .wall {
    width:800px;
    padding-left: 200px;
  }

  .hockney {
    width:800px;
    padding-left: 200px;
  }

  .neo {
    width:800px;
    padding-left: 200px;
  }

}
